<html lang="en">
<head>
    {{>cdnLinks}}
    <title>saved links</title>
</head>
<body style="font-family: 'Inter', sans-serif">
    {{>afterProfileCreation/nav}}
    
          <div>
            <div class="p-5 overflow-y-auto whitespace-nowrap items-center scroll-hidden bg-gray-50">
              <ul class="inline-flex  list-none">
               
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
                underline
              ">t/tech</a>
                </li>
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
              ">t/coding</a>
                </li>
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
              ">t/mentalhealth</a>
                </li>
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
              ">t/journal</a>
                </li>
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
              ">t/storybook</a>
                </li>
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
              ">t/javascript</a>
                </li>
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
              ">t/recipe</a>
                </li>
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
              ">t/education</a>
                </li>
                <li>
                  <a href="#" class="
                px-4
                py-1
                mr-1
                text-base text-gray-500
                transition
                duration-500
                ease-in-out
                transform
                rounded-md
                focus:shadow-outline focus:outline-none focus:ring-2
                ring-offset-current ring-offset-2
                hover:text-blue-600
              ">t/others</a>
                </li>
              </ul>
            </div>
          </div>
        

    <!-- BLOG -->
        
          <section>
            <div class="max-w-6xl px-4 mx-auto">
              <div class="grid grid-cols-1 gap-12 lg:gap-24 lg:grid-cols-2">
                <div>
                  <div class="space-y-8 lg:divide-y lg:divide-gray-100">
                    <div class="pt-8 sm:flex lg:items-start group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <img class="w-full rounded-md sm:h-32 sm:w-32" src="https://images.unsplash.com/photo-1558865869-c93f6f8482af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1101&amp;q=80" alt="text">
                      </div>
                      <div>
                        <span class="text-sm text-gray-500">August 20.20.21</span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <a href="./blog-post.html" class="
                        text-xl text-neutral-600
                        lg:text-2xl
                        hopver:text-gray-500
                      ">B2B Branding: 5 tips to go frnary </a>
                        </p>
                        <p class="mt-2 text-lg text-magnesium"> A wonion of my entirornings of enjoy with my whole heart. </p>
                      </div>
                    </div>
                    <div class="pt-8 sm:flex lg:items-start group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <img class="w-full rounded-md sm:h-32 sm:w-32" src="https://images.unsplash.com/photo-1623122245120-7eef6faa39c6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fG9mZmljZXxlbnwwfDJ8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=900&amp;q=60" alt="text">
                      </div>
                      <div>
                        <span class="text-sm text-gray-500">August 20.20.21</span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <a href="./blog-post.html" class="
                        text-xl text-neutral-600
                        lg:text-2xl
                        hopver:text-gray-500
                      ">Building a Career in Character organ </a>
                        </p>
                        <p class="mt-2 text-lg text-magnesium"> A soul, like these swe which I enjoy with my whole heart. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="space-y-8 lg:divide-y lg:divide-gray-300">
                    <div class="pt-8 sm:flex lg:items-start group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <img class="w-full rounded-md sm:h-32 sm:w-32" src="https://cdn.dribbble.com/uploads/28096/original/29bfe0a864e0f387e407a3cbfc03794c.png?1632770650" alt="text">
                      </div>
                      <div>
                        <span class="text-sm text-gray-500">August 20.20.21</span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <a href="./blog-post.html" class="
                        text-xl text-neutral-600
                        lg:text-2xl
                        hopver:text-gray-500
                      ">12 Graphic Desied (&amp; How to Develop Them) </a>
                        </p>
                        <p class="mt-2 text-lg text-magnesium"> A woire soul, lgs of spring which I enjoy with my whole heart. </p>
                      </div>
                    </div>
                    <div class="pt-8 sm:flex lg:items-start group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <img class="w-full rounded-md sm:h-32 sm:w-32" src="https://cdn.dribbble.com/users/1804127/screenshots/10765172/workflow-01.png" alt="text">
                      </div>
                      <div>
                        <span class="text-sm text-gray-500">August 20.20.21</span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <a href="./blog-post.html" class="
                        text-xl text-neutral-600
                        lg:text-2xl
                        hopver:text-gray-500
                      ">Meet Now What? The essential new podcasts </a>
                        </p>
                        <p class="mt-2 text-lg text-magnesium"> Ae souspring which I enjoy with my whole heart. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          
        
</body>
</html>