<html lang="en">
<head>
    {{>cdnLinks}}
    <title>addbyme • explore</title>
</head>
<body style="font-family: 'Inter', sans-serif">
    {{>afterProfileCreation/nav}}




          <div>
            <div class="p-5 overflow-y-auto whitespace-nowrap items-center scroll-hidden bg-gray-50">
              <ul class="inline-flex  list-none">
                   <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
          type="search" name="search" placeholder="Search">
        <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
          <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
            viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
            width="512px" height="512px">
            <path
              d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
        </button>
         <li class="ml-5 mt-2">search</li>
              </ul>
            </div>
          </div>
        

    <!-- BLOG -->
        
          <section>
            <div class="max-w-6xl px-4 mx-auto">
              <div class="grid grid-cols-1 gap-12 lg:gap-24 lg:grid-cols-2">
                <div>
                  <div class="space-y-8 lg:divide-y lg:divide-gray-100">
                    <div class="pt-8 sm:flex lg:items-start group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <img class="w-full rounded-md sm:h-32 sm:w-32" src="https://images.unsplash.com/photo-1558865869-c93f6f8482af?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1101&amp;q=80" alt="text">
                      </div>
                      <div>
                        <span class="text-sm text-gray-500">August 20.20.21</span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <a href="./blog-post.html" class="
                        text-xl text-neutral-600
                        lg:text-2xl
                        hopver:text-gray-500
                      ">B2B Branding: 5 tips to go frnary </a>
                        </p>
                        <p class="mt-2 text-lg text-magnesium"> A wonion of my entirornings of enjoy with my whole heart. </p>
                      </div>
                    </div>
                    <div class="pt-8 sm:flex lg:items-start group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <img class="w-full rounded-md sm:h-32 sm:w-32" src="https://images.unsplash.com/photo-1623122245120-7eef6faa39c6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjh8fG9mZmljZXxlbnwwfDJ8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=900&amp;q=60" alt="text">
                      </div>
                      <div>
                        <span class="text-sm text-gray-500">August 20.20.21</span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <a href="./blog-post.html" class="
                        text-xl text-neutral-600
                        lg:text-2xl
                        hopver:text-gray-500
                      ">Building a Career in Character organ </a>
                        </p>
                        <p class="mt-2 text-lg text-magnesium"> A soul, like these swe which I enjoy with my whole heart. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="space-y-8 lg:divide-y lg:divide-gray-300">
                    <div class="pt-8 sm:flex lg:items-start group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <img class="w-full rounded-md sm:h-32 sm:w-32" src="https://cdn.dribbble.com/uploads/28096/original/29bfe0a864e0f387e407a3cbfc03794c.png?1632770650" alt="text">
                      </div>
                      <div>
                        <span class="text-sm text-gray-500">August 20.20.21</span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <a href="./blog-post.html" class="
                        text-xl text-neutral-600
                        lg:text-2xl
                        hopver:text-gray-500
                      ">12 Graphic Desied (&amp; How to Develop Them) </a>
                        </p>
                        <p class="mt-2 text-lg text-magnesium"> A woire soul, lgs of spring which I enjoy with my whole heart. </p>
                      </div>
                    </div>
                    <div class="pt-8 sm:flex lg:items-start group">
                      <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
                        <img class="w-full rounded-md sm:h-32 sm:w-32" src="https://cdn.dribbble.com/users/1804127/screenshots/10765172/workflow-01.png" alt="text">
                      </div>
                      <div>
                        <span class="text-sm text-gray-500">August 20.20.21</span>
                        <p class="mt-3 text-lg font-medium leading-6">
                          <a href="./blog-post.html" class="
                        text-xl text-neutral-600
                        lg:text-2xl
                        hopver:text-gray-500
                      ">Meet Now What? The essential new podcasts </a>
                        </p>
                        <p class="mt-2 text-lg text-magnesium"> Ae souspring which I enjoy with my whole heart. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


        
</body>
</html>