<html lang="en">
<head>
    {{>cdnLinks}}
    <title>addbyme</title>
</head>
<body style="font-family: 'Inter', sans-serif">
    {{>afterProfileCreation/nav}}

<div class=" overflow-x-hidden">
<div>
        <div class="flex justify-between container mx-auto">
            <div class="w-full lg:w-8/12">

<!-- get second nav -->

<div class="w-full py-6">
	<div class="flex mt-4 ">
  


	  <div class="w-1/6">
		<div onclick="ap" class="text-xs text-center md:text-base font-bold text-blue-400">
      Links
    </div>
	  </div>

	  <div class="w-1/6">
	  <a href="/posts"><div class="text-xs text-center md:text-base">Posts</div></a>
	  </div>


	  <div class="w-1/6">
		<a href="/theme"><div class="text-xs text-center md:text-base">Theme</div></a>
	  </div>


	  <div class="w-1/6">
		<div class="text-xs text-center md:text-base">Stats</div>
	  </div>

	 
	  <div class="w-1/6">
		<div class="text-xs text-center md:text-base">Shop</div>
	  </div>

    
    <div class="w-1/6">
		<div class="text-xs text-center md:text-base">Room</div>
	  </div>



	</div>
  </div>

<!-- get second nav -->



      
    
   <hr class="mt-2">
     <div class="px-4" id="demo">
        <p class="font-semibold text-gray-600 flex mt-5">Social Links</p>
     
     <!-- Edit Link -->
 
     </div>

    <div class="px-4">
    {{>afterProfileCreation/socialButton}}
  </div>
  

  <p class="font-semibold text-gray-600 flex mt-5 px-4">Add New Link</p>
  
  <div class="mt-4 px-4">
           <!-- Edit Link -->
  <a href="/add/post">  <button id="facebook" class="bg-white  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-gray-800 ">
    <i class="fas fa-plus"></i>
    </button> 
  </a>
    <a href="https://twitter.com/duolingo">
        <div class="flex justify-between items-center h-16 px-4 my-2  rounded-full border border-gray-100 shadow-xl">
        <div class="flex items-center">
          <img class="rounded-full h-12 w-12" src="https://icon-library.com/images/2018/2298785_oreos-oreo-cookie-adult-costume-hd-png-download.png" alt="Logo" />
        <div class="ml-2">
          <div class="text-sm font-semibold text-black">How to get free oreo</div>
          <div class="text-sm flex font-light text-gray-600">yourpal.com<svg class="w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg></div>
        </div>
        </div>
        <div>
      
        </div>
        </div>
      </a>
         <p class="font-semibold px-4 text-gray-900 flex mt-5">Delete | Edit</p>
  </div>

    </div>
<!-- Post -->
<!-- POSTS -->
<!-- home -->


			  <!-- like comments -->

<!-- component -->

<!-- component -->

 <!-- end -->
			  <!-- posts -->
              


            <div class="-mx-8 w-4/12 hidden lg:block">
              
                <div class="mt-10 px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Rooms</h1>
                    <div class="flex flex-col bg-white px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                       




<!-- component -->
<!-- This is an example component -->
        <div class="text-center p-6  border-b">
          <img
            class="h-24 w-24 rounded-full mx-auto"
            src="{{avatar}}"
            alt="Randy Robertson"
          />
          <p class="pt-2 text-lg font-semibold">{{username}}</p>
          <p class="text-sm text-gray-600">{{bio}}</p>
          <div class="mt-5">

             {{>afterProfileCreation/socialButton}}
          </div>
        </div>
        <div class="border-b">
          <a href="#" class="px-4 py-2 hover:bg-gray-100 flex">


    <a href="https://twitter.com/duolingo">
        <div class="flex justify-between items-center h-16 px-4 my-2  rounded-full border border-gray-100 shadow-xl">
        <div class="flex items-center">
          <img class="rounded-full h-12 w-12" src="https://icon-library.com/images/2018/2298785_oreos-oreo-cookie-adult-costume-hd-png-download.png" alt="Logo" />
        <div class="ml-2">
          <div class="text-sm font-semibold text-black">How to get free oreo</div>
          <div class="text-sm flex font-light text-gray-600">yourpal.com<svg class="w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path><path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path></svg></div>
        </div>
        </div>
        <div>
      
        </div>
        </div>
      </a>

          </a>
          <a href="#" class="px-4 py-2 hover:bg-gray-100 flex">
            <div class="text-gray-800">
              <svg
                fill="none"
                stroke="currentColor"
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="1"
                viewBox="0 0 24 24"
                class="w-5 h-5"
              >
                <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
            <div class="pl-3">
              <p class="text-sm font-medium text-gray-800 leading-none">Account settings</p>
              <p class="text-xs text-gray-500">Usage, billing, branding, teams</p>
            </div>
          </a>
          <a href="#" class="px-4 py-2 hover:bg-gray-100 flex">
            <div class="text-gray-800">
              <svg
                fill="none"
                stroke="currentColor"
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="1"
                viewBox="0 0 24 24"
                class="w-5 h-5"
              >
                <path d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="pl-3">
              <p class="text-sm font-medium text-gray-800 leading-none">Personal settings</p>
              <p class="text-xs text-gray-500">Email, profile, notifications</p>
            </div>
          </a>
          <a href="#" class="px-4 py-2 hover:bg-gray-100 flex">
            <div class="text-green-600">
              <svg
                fill="none"
                stroke="currentColor"
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="1"
                viewBox="0 0 24 24"
                class="w-5 h-5"
              >
                <path d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
              </svg>
            </div>
            <div class="pl-3">
              <p class="text-sm font-medium text-gray-800 leading-none">
                Apps &amp; integrations
              </p>
              <p class="text-xs text-gray-500">Google, slack, mail</p>
            </div>
          </a>
        </div>

        <div class="">
          <a href="#" class="px-4 py-2 pb-4 hover:bg-gray-100 flex">
            <p class="text-sm font-medium text-gray-800 leading-none">Product updates</p>
          </a>
          <a href="#" class="px-4 py-2 pb-4 hover:bg-gray-100 flex">
            <p class="text-sm font-medium text-gray-800 leading-none">Status updates</p>
          </a>
          <a href="#" class="px-4 py-2 pb-4 hover:bg-gray-100 flex">
            <p class="text-sm font-medium text-gray-800 leading-none">Support FAQ</p>
          </a>
          <a href="#" class="px-4 py-2 pb-4 hover:bg-gray-100 flex">
            <p class="text-sm font-medium text-gray-800 leading-none">Logout</p>
          </a>
        </div>











                    </div>
                </div>




                  <div class="mt-10 px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Rooms</h1>
                    <div class="flex flex-col bg-white px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                        <ul>
                            <li><a href="#" class="text-gray-700 font-bold mx-1 hover:text-gray-600 hover:underline">- no rooms</a></li>
                          
                        </ul>
                    </div>
                </div>
                  <div class="mt-10 px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Rooms</h1>
                    <div class="flex flex-col bg-white px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                        <ul>
                            <li><a href="#" class="text-gray-700 font-bold mx-1 hover:text-gray-600 hover:underline">- no rooms</a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="mt-10 px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">*Sponsored</h1>
                    <div class="flex flex-col bg-white px-8 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                        <div class="flex justify-center items-center"><a href="#"
                                class="px-2 py-1 bg-black text-sm text-green-100 rounded hover:bg-gray-900">Promoted</a>
                        </div>
                        <div class="mt-4"><a href="#" class="text-lg text-gray-700 font-medium ">add yourself, add your life</a></div>
                        <div class="flex justify-between items-center mt-4">
                            <div class="flex items-center"><img
                                    src="https://avatars.githubusercontent.com/u/86605477?s=400&u=12d904a57dd96af3f9bfd6e5200bf17715c9c296&v=4"
                                    alt="avatar" class="w-8 h-8 object-cover rounded-full"><a href="#"
                                    class="text-gray-700 text-sm mx-3 hover:underline">@addbyme</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- feed button -->

  

      <div class="fixed  bottom-0 right-0 w-12 h-12 mr-12 mb-24 cursor-pointer" id="box_btn">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
      <path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z" />
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd" />
      </svg>
      </div>
  

    <div class="fixed bottom-0 right-0 w-12 h-12 mr-12 mb-8 cursor-pointer text-black" id="box_btn">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
    </svg>
    </div>




<!-- component -->
<!-- Social links -->
  
</script>
<!-- component -->

</body>
</html>