<html lang="en">
<head>
    {{>cdnLinks}}
    <title>addbyme</title>
</head>
<body style="font-family: 'Inter', sans-serif">
    {{>afterProfileCreation/nav}}

<div class=" overflow-x-hidden">
<div>
        <div class="flex justify-between container mx-auto">
            <div class="w-full lg:w-8/12">

<!-- get second nav -->

<div class="w-full py-6">
	<div class="flex mt-4 ">
  


	  <div class="w-1/6">
	<a href="/"><div onclick="ap" class="text-xs text-center md:text-base">
      Links</a>
    </div>
	  </div>

	  <div class="w-1/6">
	  <div class="text-xs text-center md:text-base  font-bold text-blue-400">Posts</div>
	  </div>


	  <div class="w-1/6">
		<a href="/theme"><div class="text-xs text-center md:text-base">Theme</div></a>
	  </div>


	  <div class="w-1/6">
		<div class="text-xs text-center md:text-base">Stats</div>
	  </div>

	 
	  <div class="w-1/6">
		<div class="text-xs text-center md:text-base">Shop</div>
	  </div>

    
    <div class="w-1/6">
		<div class="text-xs text-center md:text-base">Room</div>
	  </div>



	</div>
  </div>

<!-- get second nav -->



      
    
   <hr class="mt-2">
     <div class="px-4" id="demo">
        <p class="font-semibold text-gray-600 flex mt-5">Add New Post</p>
     
     <!-- Edit Link -->
     <a href="/add/post">  <button id="facebook" class="bg-white  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-gray-800 ">
     <i class="fas fa-plus"></i>
     </button> 
     </a>    
  
     <p class="font-semibold px-4 text-gray-600 flex mt-5">Added Posts</p>
      <a href="#"><div class="flex justify-between items-center h-50 p-4 my-6  rounded-lg border border-gray-100 shadow-xl">
        <div class="flex items-center">
          <img style="height: 90px;" class="rounded-md h-30 w-30" src="https://ideas.ted.com/wp-content/uploads/sites/3/2021/03/FINAL_Manage-Anxiety.gif" alt="Logo" />
          <div class="ml-2">
          <div class="text-block font-semibold text-black">How To Get Rid Of Anxiety, Depression And Mental Illness :)</div>
          <p class="text-sm">Hey👋! You are not alone</p>
          </div>
        </div>
        <div>
        </div>
        </div> 
        </a>
        <p class="font-semibold px-4 text-gray-600 flex mt-5">Delete | Edit</p>


              <a href="#"><div class="flex justify-between items-center h-50 p-4 my-6  rounded-lg border border-gray-100 shadow-xl">
        <div class="flex items-center">
          <img style="height: 90px;" class="rounded-md h-30 w-30" src="https://64.media.tumblr.com/0e4f23f9ca1a1dbe29fa9379d72e49db/tumblr_mzbshi7agb1qgxdtao1_500.gif" alt="Logo" />
          <div class="ml-2">
          <div class="text-block font-semibold text-black">How To Heal Your Past Trauma</div>
          <p class="text-sm"></p>
          </div>
        </div>
        <div>
        </div>
        </div> 
        </a>
        <p class="font-semibold px-4 text-gray-600 flex mt-5">Delete | Edit</p>


     </div>
    



    </div>
<!-- Post -->
<!-- POSTS -->
<!-- home -->


			  <!-- like comments -->

<!-- component -->

<!-- component -->

 <!-- end -->
			  <!-- posts -->
              


            <div class="-mx-8 w-4/12 hidden lg:block">
              
                <div class="mt-10 px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Rooms</h1>
                    <div class="flex flex-col bg-white px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                        <ul>
                            <li><a href="#" class="text-gray-700 font-bold mx-1 hover:text-gray-600 hover:underline">- no rooms</a></li>
                          
                        </ul>
                    </div>
                </div>
                  <div class="mt-10 px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Rooms</h1>
                    <div class="flex flex-col bg-white px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                        <ul>
                            <li><a href="#" class="text-gray-700 font-bold mx-1 hover:text-gray-600 hover:underline">- no rooms</a></li>
                          
                        </ul>
                    </div>
                </div>
                  <div class="mt-10 px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Rooms</h1>
                    <div class="flex flex-col bg-white px-4 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                        <ul>
                            <li><a href="#" class="text-gray-700 font-bold mx-1 hover:text-gray-600 hover:underline">- no rooms</a></li>
                          
                        </ul>
                    </div>
                </div>
                <div class="mt-10 px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">*Sponsored</h1>
                    <div class="flex flex-col bg-white px-8 py-6 max-w-sm mx-auto rounded-lg shadow-md">
                        <div class="flex justify-center items-center"><a href="#"
                                class="px-2 py-1 bg-black text-sm text-green-100 rounded hover:bg-gray-900">Promoted</a>
                        </div>
                        <div class="mt-4"><a href="#" class="text-lg text-gray-700 font-medium ">add yourself, add your life</a></div>
                        <div class="flex justify-between items-center mt-4">
                            <div class="flex items-center"><img
                                    src="https://avatars.githubusercontent.com/u/86605477?s=400&u=12d904a57dd96af3f9bfd6e5200bf17715c9c296&v=4"
                                    alt="avatar" class="w-8 h-8 object-cover rounded-full"><a href="#"
                                    class="text-gray-700 text-sm mx-3 hover:underline">@addbyme</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- feed button -->

  

      <div class="fixed  bottom-0 right-0 w-12 h-12 mr-12 mb-24 cursor-pointer" id="box_btn">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
      <path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z" />
      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd" />
      </svg>
      </div>
  

    <div class="fixed bottom-0 right-0 w-12 h-12 mr-12 mb-8 cursor-pointer text-black" id="box_btn">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
    </svg>
    </div>




<!-- component -->
<!-- Social links -->
  
</script>
<!-- component -->

</body>
</html>