<!doctype html>
<html lang="en">
<head>
 {{>cdnLinks}}
 {{#if title}}
 <title>{{title}}</title>
 {{else}}
<title>{{username}}</title>
{{/if}}
</head>
<body style="font-family: 'Inter', sans-serif;
font-weight: 700;
  
font-style: normal; background-image: url('{{cstmbg}}');

  min-height: 500px;

  background-attachment: fixed;

  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

 ">
<!-- c1 -->

<!-- c1 -->
    </body>
    </html>
