 <nav class="w-full bg-white border h-16 flex justify-between ">
          <div class="w-full lg:w-30/6 xl:w-full  h-full flex items-center px-4 ">          
                  <img style="width: 130px" src="/static/image.png">    
                  
                         
          </div>
       
          <div class="w-full  h-full flex justify-end items-center">
  


  <a href="/">
  <button class="relative w-8 h-8 focus:outline-none hover:bg-gray-200 rounded-full flex items-center justify-center">
  				
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
   </svg>				
  	</button>
    </a>
  	
  			
  	    <a href="/saved">
  			<button class="relative w-8 h-8  focus:outline-none hover:bg-gray-200 rounded-full flex items-center justify-center">
  			
       <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
      </svg>  		    				
  			</button>
        </a>


  
  	    <a href="/saved">
  			<button class="relative w-8 h-8  focus:outline-none hover:bg-gray-200 rounded-full flex items-center justify-center">
  			
<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
</svg>  		    				
  			</button>
        </a>


  	<a href="/profile"><button class=" xl:flex h-10 w-10 xl:w-10  rounded-full flex bg-white hover:bg-gray-200 text-gray-700 text-lg font-semibold">
  			<div style="padding-top: 11px;" class="h-6 w-8 mx-2 flex items-center">
  			   
  				<img class="rounded-full" src="{{avatar}}">
  				 </div>
  		</button>
    </a>
          </div>
  </div>
  </nav>