 <nav class="w-full bg-white border h-16 flex justify-between ">
          <div class="w-full lg:w-30/6 xl:w-full  h-full flex items-center px-4 ">          
                  <img style="width: 130px" src="https://adbmcdnimg.netlify.app/addbyme.png">              
          </div>
       
          <div class="w-full  h-full flex justify-end items-center">
  


  <a href="/">
  <button class="relative w-8 h-8 focus:outline-none hover:bg-gray-200 rounded-full flex items-center justify-center">
  				
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
   </svg>				
  	</button>
    </a>
  	
  			
        <a href="/explore">
  			<button class="relative w-8 h-8  focus:outline-none hover:bg-gray-200 rounded-full flex items-center justify-center">
  			
       <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
       <path fill-rule="evenodd" d="M12 7a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0V8.414l-4.293 4.293a1 1 0 01-1.414 0L8 10.414l-4.293 4.293a1 1 0 01-1.414-1.414l5-5a1 1 0 011.414 0L11 10.586 14.586 7H12z" clip-rule="evenodd" />
       </svg>

        </button>
  			
        </a>
  	
  					
  			
  	    <a href="/saved">
  			<button class="relative w-8 h-8  focus:outline-none hover:bg-gray-200 rounded-full flex items-center justify-center">
  			
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
</svg>
  			</button>
        </a>
  
  	    <a href="/saved">
  			<button class="relative w-8 h-8  focus:outline-none hover:bg-gray-200 rounded-full flex items-center justify-center">
  			
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>	
  		    				
  			</button>
        </a>

  
  	<a href="/profile"><button class=" xl:flex h-10 w-10 xl:w-10  rounded-full flex bg-white hover:bg-gray-200 text-gray-700 text-lg font-semibold">
  			<div style="padding-top: 11px;" class="h-6 w-8 mx-2 flex items-center">
  			   
  				<img class="rounded-full" src="{{avatar}}">
  				 </div>
  		</button>
    </a>
          </div>
  </div>
  </nav>