<div style="color: {{text}}" class="items-center grid grid-cols-7 mt-3 gap-4 px-4">
  <!--Facebook Button -->

    <button class="bg-transparent  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white">
      <i class="fab fa-facebook-f"></i>
  </button>

 <!--İnstagram Button -->

    <button class="bg-transparent  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white">
      <i class="fab fa-instagram"></i>
  </button>


  <!--Spotify Button -->
    <button class="bg-transparent  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white">
    <i class="fab fa-spotify"></i>
  </button>

    <!--Spotify Button -->
    <button class="bg-transparent  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white">
    <i class="fab fa-whatsapp"></i>
  </button>


      <!--Spotify Button -->
    <button class="bg-transparent  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white">
    <i class="fab fa-facebook-messenger"></i>
  </button>

      <!--Spotify Button -->
    <button class="bg-transparent  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white">
    <i class="fab fa-patreon"></i>
  </button>


      <!--Spotify Button -->
    <button class="bg-transparent  sticky duration-500  fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white">
    <i class="fab fa-reddit-alien"></i>
  </button>




</div>

 
