<div class="grid grid-cols-5 mt-3 gap-4 px-4">
  <!--Facebook Button -->

    <button id="facebook" class="bg-white  sticky duration-500 border-2 border-black fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-black ">
      <i class="fab fa-facebook-f"></i>
  </button>



 <!--İnstagram Button -->

    <button id="facebook" class="bg-white  sticky duration-500 border-2 border-black fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-black ">
      <i class="fab fa-instagram"></i>
  </button>

  <!--Whatsapp Button -->
    <button id="facebook" class="bg-white  sticky duration-500 border-2 border-black fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-black ">
      <i class="fab fa-whatsapp"></i>
  </button>


  <!--Twitter Button -->
    <button id="facebook" class="bg-white  sticky duration-500 border-2 border-black fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-black ">
    <i class="fab fa-twitter"></i>
  </button>

  <!--YouTube Button -->
    <button id="facebook" class="bg-white  sticky duration-500 border-2 border-black fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-black ">
    <i class="fab fa-youtube"></i>
  </button>
  <!--Spotify Button -->
    <button id="facebook" class="bg-white  sticky duration-500 border-2 border-black fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-black ">
    <i class="fab fa-spotify"></i>
  </button>

  <!--Discord Button -->
    <button id="facebook" class="bg-white  sticky duration-500 border-2 border-black fixed  w-12 transform hover:-translate-y-3   h-12 text-2xl rounded-full hover:bg-black hover:text-white text-black ">
    <i class="fab fa-discord"></i>
  </button>

</div>

 
