<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@1.4.6/dist/tailwind.min.css" rel="stylesheet">
    <title>Please Verify Your Email</title>
    <link rel="shortcut icon" href="https://adbmcdnimg.netlify.app/favicon.ico">
</head>
<body>
<!-- component -->


 <div class="h-screen w-screen bg-white flex items-center">
	<div class="container flex flex-col md:flex-row items-center justify-center px-5 text-gray-700">
   		<div class="max-w-md">
      		<div class="text-5xl font-dark font-bold"><img style="width: 200px;" src="https://adbmcdnimg.netlify.app/addbyme.png"></div>
            <p
              class="text-2xl md:text-3xl font-light leading-normal pt-2"
            >Please Verify Your Email Id</p>
            <p>Go to your email app and verify <a class="text-blue-400" >{{authUser.email}}</a></p>
            <p class="text-sm text-blue-700">Get Help</p>
          
    </div>
      <div class="max-w-lg">
     <img src="https://uc6a5a3e2aeb022181a79d60ff6f.previews.dropboxusercontent.com/p/thumb/ABbnahi0Te-xrGB9RtHT_8bEckwhj7UWxOA1Z_4vxhcwK0eaNdKxHPb6_f8WqA-XIZKkWgENU9rexMA4dT9p8FwmZkeH1b7iDmu_dALJPJtPVN4yY2NtY9n4EdUqp4Q8fpwbQeShNjgEhe_d8QbDsJCIP1HH1D7301SJUewx8VZkah7riW40BEkgoHh6eZl15xomIRn2M86fGbB4IIlEX3c7sX-DnKy7KzDHqhlJyEs7IKnZdkevjVmLNXoKd6qs6I1iDFR4B4s21c0mKGLgaS8nyN24XWdR4k17NIwys_G9hCD_iChbfv9gvZHevuv7aL5w9MCpXrK459TtB4nvxBrVkzi7xpmL9TPTPX_3fSgAK5_baOfVzZdie1YL6zXbpl-awXgKfACzaC6KDrMGQ0WW/p.png?size=1280x960&size_mode=3">
    </div>
    
  </div>
</div>
</body>
</html>